---
title: Ewen
layout: default
root: true
---

<p>
  Trying to make a deep spring. Grown in Essex and typing from home in South London<span
    class="time"
    data-timestamp-text=", where it's currently {time}"
  ></span
  >.
</p>

<nav aria-label="Additional content">
  <a href="{% link _pages/about.md %}">About</a>
  <hr class="inline-hr" />
  <a href="{% link _pages/blogroll.md %}">Blogroll</a>
  <hr class="inline-hr" />
  <a href="https://sidemissions.substack.com" target="_blank" rel="noopener noreferrer">Side Missions</a>
  <hr class="inline-hr" />
  <a href="https://cloud696.club" target="_blank" rel="noopener noreferrer">Cloud 696</a>
  <hr class="inline-hr" />
  <a href="https://webring.xxiivv.com/#ewen" target="_blank" rel="noopener noreferrer">
    <picture>
       <source srcset="https://webring.xxiivv.com/icon.white.svg" media="(prefers-color-scheme: dark)">
       <img src="https://webring.xxiivv.com/icon.black.svg" width="30" alt="XXIIVV webring"/>
    </picture>
     </a>
</nav>
<nav aria-label="Social">
  <span>ewenyours [at] proton [dot] me</span>
  <hr class="inline-hr" />
  <a href="https://github.com/ewenme" target="_blank" rel="me">GitHub</a>
  <hr class="inline-hr" />
  <a href="https://www.discogs.com/user/ewen_" target="_blank" rel="me">Discogs</a>
  <hr class="inline-hr" />
  <a href="https://bandcamp.com/ewen_" target="_blank" rel="me">Bandcamp</a>
  <hr class="inline-hr" />
  <a href="https://letterboxd.com/ewenme" target="_blank" rel="me">Letterboxd</a>
</nav>

<hr class="hr" />

{% assign note = site.notes | last %}
<h2 class="text">Notes</h2>
<a href="/notes" class="styled-link">Recent notes</a>
<a href="/notes.xml" class="styled-link">RSS</a>
<div class="note">
  <div class="note-heading">Latest: {{ note.date | date: "%B %e, %Y" }}</div>
  {{ note.content | markdownify }}
</div>

<hr class="hr" />

<h2 class="text">Photos</h2>
<a href="/photos" class="styled-link">All photos</a>
<a href="/photos.xml" class="styled-link">RSS</a>
<div class="photos">
  {% assign photos = site.data.photos | slice: 0, 5 %} {% for photo in photos %}
  <a href="/photos#{{ photo.id}}" class="image-link">
    <picture>
      <source type="image/webp" srcset="{{ photo.path }}_400.webp" />
      <img
        src="{{ photo.path }}_400.jpg"
        height="200"
        alt="{{ photo.alt }}"
        loading="lazy"
        style="aspect-ratio: {{ photo.ratio }};"
      />
    </picture>
  </a>
  {% endfor %}
</div>

<hr class="hr" />

<h2 class="text">Sounds</h2>
<a href="/sounds" class="styled-link">All sounds</a
><a href="/sounds.xml" class="styled-link">RSS</a>
<div class="photos">
  {% assign sounds = site.sounds | sort: "date" | reverse %} {% for sound in sounds
  %}
  <a href="{{ sound.url }}" aria-label="go to the sound page" class="image-link">
    <picture>
      <source
        type="image/webp"
        srcset="https://mixes.ewen.io/{{ sound.image }}_400.webp"
      />
      <img
        src="https://mixes.ewen.io/{{ sound.image }}_400.jpg"
        height="200"
        alt="{{ sound.alt }}"
        loading="lazy"
      />
    </picture>
  </a>
  {% endfor %}
</div>

<hr class="hr" />

<h2 class="text">Posts</h2>
<a href="/posts" class="styled-link">All posts</a
><a href="/feed.xml" class="styled-link">RSS</a>
<ul aria-label="posts" class="terminal">
  {% assign posts = site.posts | where: "feature", 1 %} {% for post in posts %}
  <li class="line">
    <a href="{{ post.url }}">{{ post.title }}</a><br />
    <time datetime="{{ post.date | date_to_xmlschema }}"
      >{{ post.date | date: "%B %e, %Y" }}</time
    >
  </li>
  {% endfor %}
</ul>
