---
layout: default
type: mixes
title: Mixes
---

<div class="mixes-wrapper" id="mixes">
{% assign mixes = site.mixes | sort: "date" | reverse %}
{% for mix in mixes %}
<figure>
<a href="{{ mix.url }}" class="image-link">

  <picture>
    <source type="image/webp" srcset="https://mixes.ewen.io/{{ mix.image }}_400.webp" />
    <img
    src="https://mixes.ewen.io/{{ mix.image }}_400.jpg"
    height="400"
    loading="lazy"/>
  </picture>
</a>
<figcaption>
  <div class="desc photo-metadata">
    <div>{{ mix.date | date: "%Y/%m/%d (%a)" }}</div>
    {% assign split = mix.title | strip | split: "@ " %}
    {% assign caption = split | first | strip %}
    {% if split.size > 1  %}<div>@ {{ split[1] }}</div>{% endif %}
  </div>
  {% if caption != "-" and caption != "" %}{{ caption | markdownify }}{% endif %}
</figcaption>
</figure>
{% endfor %}
</div>
