---
layout: default
title: Recent notes
---

<ul class="notes">
{% assign notes = site.notes | sort: "date" | reverse %}
{% for note in notes limit: 100 %}
  <li class="note">
    <div class="general-actions">
      <h2 class="text">
        <a href="{{ note.url }}" class="monospace">{{ note.date | date: "%b %e, %Y" }}</a>
      </h2>
    </div>
    {{ note.content | markdownify }}
  </li>
{% endfor %}
</ul>

{% if notes.size > 100 %}
  <hr>
  <p class="desc">Only the most recent 100 notes are shown.</p>
  {% for note in notes %}
    {% assign id = note.date | date: "%Y%m%d%I%M" %}
    <a class="note" id="t{{id}}" href="{{ note.url }}" hidden></a>
  {% endfor %}
  <script>
    if (window.location.hash) {
      document.querySelector(document.location.hash)?.click()
    }
  </script>
{% endif %}