---
layout: default
type: photos
title: Photos
---

<div class="photos-wrapper" id="photos">
{% assign photos = site.data.photos %}
{% for photo in photos %}
<figure id="{{ photo.id }}" class="figure-{{ photo.orientation }}">
  <a href="{{ photo.path }}_original.jpg" class="image-link">
    <picture>
      <source type="image/webp" srcset="{{ photo.path }}_2304.webp" />
      <img
      src="{{ photo.path }}_2304.jpg"
      height="2304"
      style="aspect-ratio: {{ photo.ratio }}"
      alt="{{ photo.alt }}"
      title="{{ photo.alt }}"
      class="{% if photo.ratio > 1 %}landscape{% else %}portrait{% endif %}"
      loading="lazy"/>
    </picture>
  </a>
  <figcaption>
    <div class="desc photo-metadata">
      <div>{{ photo.createdAt | date: "%Y/%m/%d (%a)" }}</div>
      {% assign split = photo.caption | strip | split: "@ " %}
      {% assign caption = split | first | strip %}
      {% if split.size > 1  %}<div>@ {{ split[1] }}</div>{% endif %}
    </div>
    {% if caption != "-" and caption != "" %}{{ caption | markdownify }}{% endif %}
  </figcaption>
</figure>
{% endfor %}

</div>
