---
layout: default
title: Reading
---

<ul aria-label="reading" class="terminal">
{% assign reads = site.reading | sort: "date" | reverse %}
{% for read in reads %}
  <li class="line">
        {{ read.title }}
        <br>
        {% if read.stars %}
        <span class="stars" aria-label="{{ read.stars }} stars">
          {% for i in (1..5) %}
            {% if i <= read.stars %}
              <svg width="12" height="12" viewBox="0 0 24 24" fill="currentColor" style="display: inline-block; vertical-align: middle;">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
              </svg>
            {% else %}
              <svg width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" style="display: inline-block; vertical-align: middle;">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
              </svg>
            {% endif %}
          {% endfor %}
        </span>
        <br>
        {% endif %}
        <time class="monospace" datetime="{{ read.date | date_to_xmlschema }}">{{ read.date | date: "%B %e, %Y" }}</time>
  </li>
{% endfor %}
</ul>
