---
layout: default
type: sounds
title: Sounds
---

<div class="sounds-wrapper" id="sounds">
{% assign sounds = site.sounds | sort: "date" | reverse %}
{% for sound in sounds %}
<figure>
<a href="{{ sound.url }}" class="image-link">

  <picture>
    <source type="image/webp" srcset="https://sounds.ewen.io/{{ sound.image }}_400.webp" />
    <img
    src="https://sounds.ewen.io/{{ sound.image }}_400.jpg"
    height="400"
    alt="{{ sound.alt }}"
    loading="lazy"/>
  </picture>
</a>
<figcaption>
  <div class="desc photo-metadata">
    <div>{{ sound.date | date: "%Y/%m/%d (%a)" }}</div>
    {% assign split = sound.title | strip | split: "@ " %}
    {% assign caption = split | first | strip %}
    {% if split.size > 1  %}<div>@ {{ split[1] }}</div>{% endif %}
  </div>
  {% if caption != "-" and caption != "" %}{{ caption | markdownify }}{% endif %}
</figcaption>
</figure>
{% endfor %}
</div>
