<nav aria-label="Filter log">
  <span>what have u been...</span>
  <a href="/log/books/" class="styled-link" {% if page.url contains "/log/books" %}aria-current="page"{% endif %}>reading?</a>
  <hr class="inline-hr" />
  <a href="/log/games/" class="styled-link" {% if page.url contains "/log/games" %}aria-current="page"{% endif %}>playing?</a>
  <hr class="inline-hr" />
  <a href="/log/films/" class="styled-link" {% if page.url contains "/log/films" %}aria-current="page"{% endif %}>watching?</a>
  <hr class="inline-hr" />
  <a href="/log/" class="styled-link" {% if page.url == "/log/" %}aria-current="page"{% endif %}>ALL</a>
</nav>
